* {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

.hero {
    background-image: url(images/bogota-hero.webp);
    background-size: cover;
    height: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.hero-text > h1 {
    background-color: #58582f;
    display: inline;
    border-radius: 10px;
    font-size: 36px;
}

.hero-text > h3 {
    background-color: #58582f;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    padding: 5px;
}


.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

#guide-img {
    width: 180px;
}

.to-do {
    background: #e2e6fb;
}

.to-do-title {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

.to-do-items {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 378px;
    text-align: center;
}

.to-do-item {
    width: 300px;
    font-size: 16px;
}

.to-do-item > h5 {
    font-weight: bold;
    font-size: inherit;
    margin-top: 10px;
}

.to-do-item > h6 {
    font-weight: 300;
    font-size: inherit;
}

.to-do-section {
    background-color: #f0f2f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guide-card {
    background: #F4D35E;
    width: 400px;
    margin: 20px auto;
    display: flex;
    margin: 50px auto 30px;
}

.guide-text {
    display: flex;
    flex-direction: column;
}

.guide-image {
    width: 180px;
    height: 245px;
}