* {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

.hero {
    background-image: url(images/bogota-hero.webp);
    background-size: cover;
    height: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.hero-text > h1 {
    background-color: #58582f;
    display: inline;
    border-radius: 10px;
    font-size: 36px;
}

.hero-text > h3 {
    background-color: #223a35;
    border-radius: 10%;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
}


.round-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

#guide-img {
    width: 180px;
}